{% extends 'content/base.html' %}

{% block main %}
<div>
    <h1>{{ ciudad.name }}</h1>
    <p><strong>Población:</strong> {{ ciudad.population }} <strong>Provincia:</strong> {{ ciudad.province }}</p>
    <p><strong>Categoria:</strong> {{ ciudad.category.name }}</p>
    <p>{{ ciudad.text }}</p>

    {% if ciudad.imagenes.all %}
    <div id="articleCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for image in ciudad.imagenes.all %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.caption }}">
                {% if image.caption %}
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ image.caption }}</h5>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#articleCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#articleCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {% endif %}

    <h3>Reseñas:</h3>
    <ul>
        {% for reseña in ciudad.comment_set.all %}
        <li><strong>{{ resena.name }}:</strong> {{ resena.text }}</li>
        {% empty %}
        <p>Todavía no hay aquí ninguna reseña.</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}